@{
    ViewBag.Title = "Home Page";
}

@*This code is for landing page of the jobrecorder in bootstrap*@ 
<div class="container">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><span>Welcome to HR System</span></h1>
                        <h3>An Employee Management System for you!</h3>
                        <p>
                            This is an employee Management System made in C# (.net) by Rutul Patel, You should give it a
                            try!
                        </p>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What is Employee Management System</h2>
                        <p class="lead">
                            This is an easiest system in the world to manage employees in work environment, This is just basic beta version of this system, where you can keep record and maintain work environment
                            
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive"
                             src="http://sysrun.haifa.il.ibm.com/ibm/history/exhibits/attic3/images/0125.jpg"
                             alt="Recorder_Image">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Is this free site?</h2>
                        <p class="lead">
                            Yes! Absolutely This EMS (Employee Management system) is made by Rutul Patel, Student of Georgian College
                            and you can use this for free. Just
                            register your account or log in if you already have account with this.
                        </p>
                    </div>

                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive"
                             src="https://wiki.scn.sap.com/wiki/download/attachments/308117793/JSM_waschmaschine.png?version=1&modificationDate=1349770909000&api=v2"
                             alt="">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->
    </div>
    </div>
