

@model JobRecorder.Models.job

<h2>Job Positions of employee: @Model.job_position</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>Employee Name</th>
        <th>Employee Phone number</th>
        <td>Employee Salary</td>
    </tr>
    @*@foreach (var a in Model.employee)
    {
        <tr>
            <td>@a.employee_name</td>
            <td>@a.</td>
            <td>@String.Format("{0:c}", a.employee_salary)</td>
        </tr>
    }*@
</table>
